* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: auto;
}

.headings {
  /* color: #23c436; */
  background-color: white;
  margin: 0 !important;
  padding-bottom: 10px;
  border: 2px solid white;
}

.headings img {
  width: 70px;
  height: 50px;
}

.sms-label {
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
  padding-top: 2px;
  font-family: "Montserrat", sans-serif;
}
.sms-input {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px !important;
}
fieldset {
  text-align: start;
}

/* contain block  cdd */

/* contain block end  */

.boxl {
  background-color: white;
  height: 187px;
  margin-bottom: 5px;
  border-radius: 4px !important;

  position: relative;
}

.icons {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 18px;
}

.boxr {
  background-color: white;
  height: 180px;
  margin-bottom: 2px;

  border: 2px solid green;
}

.maindiv {
  padding: 0 !important;
}
.units2 .right-label {
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
  padding-top: 2px;
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-weight: 800;
  font-size: 15px;
}
.pro-label {
  text-decoration: none;
  margin: 0px 20px;
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  width: auto;
  padding: 10px;
}
.pro-label:hover {
  text-decoration: none;
  color: rgb(4, 4, 85);
  border-bottom: 2px solid rgb(4, 4, 85);
}
.right-label:hover {
  text-decoration: none;
  color: rgb(4, 4, 85);
  border-bottom: 2px solid rgb(4, 4, 85);
}

.sms {
  margin-top: 8px;
}

.bars {
  height: 100%;
}

.options {
  height: 41px;
  margin-top: 16px;
  display: flex;
}

.pro {
  width: 44%;
}

.sFont {
  font-size: 17px;
}
.optionFont {
  font-size: 13px;
  color: gray;
}
